html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

body, p{
    margin: 0;
    padding: 0;
}

header{
    height: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
}

a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

nav a {
    margin-right: 25px;
}

nav img {
    height: 30px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 25px;
}

footer a{
    color: rgb(112 117 122);
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px rgba(0 0 0 /30%);
}

main{
    width: 50%;
    margin: 6.3em auto;
    text-align: center;
}

main .search-box{
    display: flex;
    padding: 15px ;
    border: 2px solid #dfe1ef;
    border-radius: 30px;
    align-items: center;
    height: 15px;   
}

main .search-box:hover{
    box-shadow: 0 0 10px rgba(0 0 0 /30%);
}

.search-box img{
    cursor: pointer;
}

input{
    padding: 1em;
    border: none;
    flex: 1;
    height: 18px;
}

.search-mic img{
    width: 35px;
    height: 21px;
}

.search-image img{
    width: 25px;
    height: 21px;
}

.search-icon img{
    width: 35px;
    height: 21px;
    margin-right: auto;
}

.btns-container{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.btns-container button{
    padding: 1em;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px; 
    cursor: pointer;
}

.btns-container p{
    margin: 20px auto;
}

.btns-container a{
    color: blue;    
}

footer{
    background-color: #F2F2F2;
    margin-top: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112 117 122);
}

.footer-top{
    padding: 1em;
}

.footer-bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

.left a{
    margin-right: 1em;
    color: rgb(112 117 122);
}

.right a{
    margin-left: 1em;
    color: rgb(112 117 122);
}

nav img:hover {
    background-color: #F2F2F2;
    border-radius: 50%;
}
